div.gridLayout {
  display:grid;
  grid-template-columns: 20% 80%;
  grid-gap:8px;
}

div.leftColumn {
  margin: 8px;
}

.rowChart {
  width: 100%;
}

.columnChart {
  width: 48%;
  vertical-align: top;/*Fix for different     height elements*/
  margin: 8px;
  display: inline-block;
}
