div.gridLayout {
  display:grid;
  grid-template-columns: 20% 80%;
  grid-gap:8px;
}

div.leftColumn {
  margin: 8px;
}

.rowChart {
  width: 100%;
}

.columnChart {
  width: 48%;
  vertical-align: top;/*Fix for different     height elements*/
  margin: 8px;
  display: inline-block;
}

.time-chart-wrapper {
  border: 1px solid lightgray;
  height: 300px;
  width: 90%;
  margin: 8px;
}

.pie-chart-wrapper {
  border: 1px solid lightgray;
  width: 50%;
  margin: 8px;
}

.section-wrapper {
  border: 1px solid lightgray;
  margin: 8px;
  padding: 8px;
}